<header class="header">



    <ul class="header-ul">
        <h1 class="header-h1">Step<br>Ordering</h1>
    
        <div class="header-ul-a">
    
    <li><h1><a class="homeclass" routerLink="appcomponent">Home</a></h1></li>
    <h1 class="header-ul-h1"><a routerLink="basket"><span class="homeclass" style="background-color: red;border-radius: 5px;">Cart</span><i   class="fa-solid fa-cart-shopping"></i></a></h1>
    
    </div>
    
    
    
    
    </ul>
    
    <h1 class="header-main-h1">fast And Efficient,Online Ordering You Must Try</h1>
    
    <img class="header-img" src="https://cdn.pixabay.com/photo/2024/04/06/07/47/cheeseburger-8678826_1280.jpg">
    
    
    
    
    </header>